
@media (prefers-color-scheme: dark) {

    .i-home{
        width: var(--size);
        height: var(--size);
        background: url("../icons/home_white.png") no-repeat center center / contain;
    }
    
    .i-coracao{
        width: var(--size);
        height: var(--size);
        background: url("../icons/coracao_white.png") no-repeat center center / contain;
    }
    
    .i-lupa{
        width: var(--size);
        height: var(--size);
        background: url("../icons/lupa_white.png") no-repeat center center / contain;
    }
    
    .i-add{
        width: var(--size);
        height: var(--size);
        background: url("../icons/plus_white.png") no-repeat center center / contain;
    }
    
    .i-msg{
        width: var(--size);
        height: var(--size);
        background: url("../icons/msg_white.png") no-repeat center center / contain;
    }
    
    .i-opcoes{
        width: var(--size);
        height: var(--size);
        background: url("../icons/menu_white.png") no-repeat center center / contain;
    }
    
    .i-perfil{
        width: var(--size);
        height: var(--size);
        background: url("../icons/perfil_white.png") no-repeat center center / contain;
    }
    
    .i-explore{
        width: var(--size);
        height: var(--size);
        background: url("../icons/explore_white.png") no-repeat center center / contain;
    }
    
    .i-reels{
        width: var(--size);
        height: var(--size);
        background: url("../icons/reels_white.png") no-repeat center center / contain;
    }

    .i-chat-bubble{
        width: var(--size);
        height: var(--size);
        background: url("../icons/chat_bubble_white.png") no-repeat center center / contain;
    }
    
    .i-paper-airplane{
        width: var(--size);
        height: var(--size);
        background: url("../icons/send_airplane_white.png") no-repeat center center / contain;
    }

    .i-favorite{
        width: var(--size);
        height: var(--size);
        background: url("../icons/favorite_white.png") no-repeat center center / contain;
    }

    .i-tree_dots{
        width: var(--size);
        height: var(--size);
        background: url("../icons/dots_white.png") no-repeat center center / contain;
    }

    .i-emoji{
        width: var(--size);
        height: var(--size);
        background: url("../icons/emoji_white.png") no-repeat center center / contain;
    }
    
    .notify{
        position: absolute;
        margin-left: 30px;
        margin-top: -15px;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background-color: rgb(240, 64, 88);
        outline: solid 2px rgb(32, 32, 32);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 10px;
        color: rgb(224, 224, 224);
    }

}