<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rede social</title>
    <link rel="stylesheet" href="../static/css/icons.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="icon" href="../static/icons/icon_title.png">
</head>
<body>
    <div class="container">
        <div class="botoes">
            <div class="botao_opcoes i-home"></div>
            <div class="botao_opcoes i-lupa"></div>
            <div class="botao_opcoes i-explore"></div>
            <div class="botao_opcoes i-reels"></div>
            <div class="botao_opcoes i-msg"><div class="notify">1</div></div>
            <div class="botao_opcoes i-coracao"><div class="notify">+99</div></div>
            <div class="botao_opcoes i-add"></div>
            <div class="botao_opcoes i-perfil"></div>
            <div class="botao_opcoes i-opcoes"></div>
        </div>
        <div class="pagina">
            <div class="container-pagina-inicial">
                
            </div>
        </div>

        <div class="confirmar-deixar-seguir"></div>
    
    </div>

    <script src="../static/js/site.js"></script>
    <script src="../static/js/accont.js"></script>
    <script src="../static/js/index.js"></script>
</body>
</html>