<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/login.css">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <div class="container-tudo">
            <div class="container-pagina">
                <input type="text" placeholder=" -> User" class="login-usuario">
                <input type="text" placeholder=" -> Senha" class="login-senha">
                <button class="login">Login</button>
                <button class="login-register">Registrar</button>
            </div>

            <div class="tampador tampador_right"></div>

            <div class="container-pagina">
                <input type="text" placeholder=" -> Email" class="register-email">
                <input type="text" placeholder=" -> User" class="register-usuario">
                <input type="text" placeholder=" -> Senha" class="register-senha">
                <input type="text" placeholder=" -> Confirf" class="register-confirme-senha">
                <button class="register">Registrar</button>
                <button class="register-login">Login</button>
            </div>

        </div>
    </div>

    <script src="../static/js/accont.js"></script>
    <script src="../static/js/login.js"></script>
</body>
</html>